<nav class="navbar navbar-inverse">
  <div class="container-fluid col-md-10 col-md-offset-1">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <strong>Flow</strong>Overstack </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">

          <% if user_signed_in? %>

            <li>
                <a href=""><%= current_user.email %></a>
            </li>

            <li>
                <%= link_to 'Salir', destroy_user_session_path, method: 'DELETE'%>
            </li>

            <% else %>

              <li>
                  <%= link_to 'Registrarse', new_user_registration_path, method: 'GET'%>
              </li>

              <li>
                  <%= link_to 'Ingresar', new_user_session_path, method: 'GET'%>
              </li>

              <%end%>

                <li>
                  <form class="navbar-form navbar-right">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                  </form>

                </li>

      </ul>



    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>