// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.custom-color {
  color: rgb(252, 105, 7) !important;
  font-weight: bold;
}

.link-center {
  margin: 0px 0px;
}