

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-md-offset-3">
                <h1> Publicar Pregunta </h1>
            <%= form_for @question do |f| %>
                <div class="form-group">

                    <%= f.text_field :title, class:"form-control", id:"title_text", placeholder:'Título'%>
                </div>
                <div class="form-group">

                    <%= f.text_area :body, class:"form-control", id:"body_text", placeholder:'Descripción', rows:'5'%>
                </div>


                 <div class="form-group">
                    <strong><%= f.submit '¡Preguntar!', class:"btn btn-primary btn-block"%></strong>
                </div>
   

            <% end %>
        </div>
    </div>
</div>